<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            max-width: 500px;
            padding-top: 30px;
        }
        input {
            max-width: 200px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Adder</h1>
        <br>
        <form role="form" method="post" onsubmit="return false">
            <div class="form-group">
                <input type="number" class="form-control" name="number-one" placeholder="Enter a number" required><br>
                <input type="number" class="form-control" name="number-two" placeholder="Enter a number" required>
            </div>
            <button type="submit" class="btn btn-default">Submit!</button>
        </form>
        <br>
        <p>The value is <span id="results"></span></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src={{ url_for('static', filename="main.js") }}></script>
</body>
</html>